
Opdrachten/week 5/Data/books_nodes.tsv

*.tsv

*.cys

*.zip

*.txt

Opdrachten/week 6/warmup/data/20news-bydate.tar.gz

Opdrachten/week 6/warmup/data/simplewiki-20140623-pages-articles.xml.bz2

Opdrachten/week 6/warmup/data/README.md
